<%- include('../partials/header') %>

<div>Before adding, please ensure that the Airport is not in the following list:</div>
<section id="badge-container">
  <% airports.forEach(function(a) { %>
    <article class="badge"><%= a.name %></article>
  <% }) %>
</section>

<form id="add-airport-form" action="/airports" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Airport">
</form>

<%- include('../partials/footer') %>
