<%- include('../partials/header') %>

<ul>
    <% flights.forEach(function(f) { %>
        <li>
            <form action="/flights/<%= f.id %>?_Method=DELETE"
                class="delete-form" method="POST">
                <button type=""submit">Remove</button>
                </form>
                <%= f.flight %>
        </li>
        <% }) %>
</ul>
<a href="flights/new">Add Flight</a>

<%- include('../partials/footer') %>